<select (change)="onCategoryChange($event)">
    <option value="">Choisir une catégorie...</option>
    <option *ngFor="let category of categories" value="{{ category.name }}">{{category.name}}</option>
</select>

<table class="table">
    <thead>
        <tr>
            <th>API</th>
            <th>Description</th>
            <th>Auth </th>
            <th>HTTPS</th>
            <th>Cors</th>
            <th>Link</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let api of apis">
            <td>{{api.API}}</td>
            <td>{{api.Description}}</td>
            <td>{{api.Auth}}</td>
            <td *ngIf="api.HTTPS; else elseBlock">HTTPS</td>
            <ng-template #elseBlock>HTTP</ng-template>
            <td>{{api.Cors}}</td>
            <td><a href="{{api.Link}}">{{api.Link}}</a></td>
            <td>{{api.Category}}</td>
        </tr>
    </tbody>
</table>
