<form (ngSubmit)="onSubmit()" [formGroup]="user">
    <label>Utilisateur</label>
    <input formControlName="email" class="form-control" type="text" />
    <label>Password</label>
    <input formControlName="password" class="form-control" type="password" />
    <button type="submit" class="btn btn-success">Connexion</button>
</form>