<nav class="navbar navbar-expand-lg bg-secondary mb-2">
    <div class="container-fluid">
  
        <a class="navbar-brand" href="#">Angular</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" routerLink="/">Accueil</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/articles">Articles</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/apis">APIs</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/messagerie">Messagerie</a></li>
                <li class="nav-item" *ngIf="!curAuth?.connected"><a class="nav-link" routerLink="/login">Login</a></li>
                <li class="nav-item" *ngIf="!curAuth?.connected"><a class="nav-link" routerLink="/login/register">Register</a></li>
                <li class="nav-item" *ngIf="curAuth?.connected"><a class="nav-link" (click)="logout()">LogOut</a></li>
            </ul>
            <div class="profile" *ngIf="curAuth?.connected">
                Bienvenue {{ curAuth?.user?.username }} !
            </div>
        </div>
      

    </div>
</nav>