<form [formGroup]="messagerie" (ngSubmit)="onSubmit()">
    <label for="pseudo" class="form-label">Pseudo : </label><input id="pseudo" formControlName="pseudo" class="form-control" /><br />
    <label for="message" class="form-label">Message : </label><input class="form-control" id="message" formControlName="message" /><br />
    <button type="submit" class="btn btn-primary" [disabled]="!messagerie.valid">Envoyer !</button>
</form>
<div>
    <div *ngFor="let message of messages">
        <div class="card my-2">
            <div class="card-header">{{ message.pseudo }} - {{ message.date }}</div>
            <div class="card-body" [innerHtml]="message.message"></div>
        </div>
    </div>
</div>