<div>
    <article *ngFor="let article of articles;index as i" id="article{{ i }}">
        <h2>{{ article.title }} - <span>{{ article.author }}</span></h2>
        <p>{{ article.content }}</p>
    </article>

</div>