<h2>Formulaire d'inscrioption</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="user">
    <label>Nom d'utilisateur</label>
    <input formControlName="username" class="form-control" type="text" />
    <label>E-mail</label>
    <input formControlName="email" class="form-control" type="text" />
    <label>Password</label>
    <input formControlName="password" class="form-control" type="password" />
    
    <button type="submit" class="btn btn-success">Inscription</button>
</form>